@tailwind base;

@tailwind components;

.btn {
	@apply text-white font-bold py-2 px-4 border border-blue-700 rounded;
}

.btn-blue {
	@apply bg-indigo-700;
}

.btn-red {
	@apply bg-red-700;
}
@tailwind utilities;
